* {
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 253, 254);
  margin: 0px;
  padding: 0px;
  font-family: fantasy;
}
#patker {
  height: 100%;
  height:600px;
  background: linear-gradient(135deg, #272d98, #a3a5ea);
  position: relative;
}

#patker > p {
  color: white;
  font-size: 70px;
  letter-spacing: 10px;
  text-shadow: -7px 5px 8px rgb(218, 218, 224);
  text-align: center;
}
#patker1 > p {
  color: rgb(243, 244, 243);
  text-align: left;
  left: 20px;
  top: 20px;
  font-size: 35px;
  position: absolute;
}
.img5 {
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.img5 > img {
  display: block;
  width: 100%;
  height: auto;
  border: 15px solid rgb(241, 243, 245);
  border-radius: 15px;
}

h1 {
  text-align: center;
}
.text5{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid rgb(208, 221, 230);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
p {
  font-size: 30px;
  color: #03056f;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.img2 > p {
  font-size: 25px;
}
.img1 {
  margin: 15px 2.5% ;
  width: 95%;
  min-height:250px;
  border: 10px solid rgb(163, 184, 242);
  border-radius: 20px;
}
.img2 {
  float: left;
  width: 400px;
  height: 230px;
}
.img2>img {
  padding-right: 15px;
  width:100%;
  height: 100%;
}
.text3 {
  text-align: center;
}
@media (min-width:1000px) and (max-width:1360px){
 #patker{
  width: 100%;
  height: auto;
 }
  #patker1>p{
  font-size: 25px;
  margin-top: 80px;
 }
 #img{
  width: 500px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
 }
 p{
  font-size: 27px;
 }
  .img2{
    width: 100%;
    height: 400px;
  }

}
@media (min-width:800px) and (max-width:1000px){
  #patker{
    width: 100%;
    height:auto;
  }
  #patker1>p{
    margin-top: 80px;
    font-size: 20px;
  }
  #img{
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  p{
    font-size: 25px;
  }
  h1{
    font-size: 30px;
  }
  .img2{
    width: 100%;
    height: 350px;
  }
}


@media (min-width:600px) and (max-width:800px) {
  #patker {
    height: auto;
    width:100%;
  }
  #patker > p {
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
  }
  #patker1 > p {
    font-size: 15px;
  }

  .img5 {
    width: 90%;
    height: auto;
  }

  #img {
   margin-left: auto;
   margin-right: auto;
   max-width: 350px;
   height: 200px;
  }

  
  .img2{
    width: 100%;
    height: auto;
  }

  p {
    font-size: 22px;
  }
}



@media (max-width:600px) {
  #patker {
    width:100%;
    height: auto;
  }

  #patker > p {
    margin:5px;
    font-size: 24px;
    letter-spacing: 3px;
  }

  #patker1 > p {
    font-size: 15px;
    position: static;
    margin: 5px 10px;
  }

  .img5 {
    width:300px;
    height: 200px;
    border-width: 8px;
  }
  #img {
    margin-left: auto;
    margin-right: auto;
  }
  .text5 {
    border: 8px solid rgb(163, 184, 242);
    padding: 10px;
  }
  .text5>p{
    font-size: 15px;
  }
  h1{
   font-size: 25px;
  }
 
  .img2 {
    width: 100%;
    height: auto;
  }

 
  .text3{
    width: 95%;
    font-size: 15px;
  }
}








